@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for better UX (optional) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  @apply dark:bg-gray-800;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  @apply dark:bg-gray-600;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
  @apply dark:bg-gray-500;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* A modern font stack */
}
